.time-card p {
    margin: 0px;
}

.journey-section {
    overflow-x: auto;
    /* Enable horizontal scrolling */
    white-space: nowrap;
    /* Prevent wrapping of items */
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
    border-radius: 25px;
}

.journey-section::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
}

.custom-br {
    padding-top: 0px;
    content: "";
    /* Necessary for some CSS properties to apply */
    display: block;
    /* Ensure it's treated as a block element */
}
.here{
    padding: 0px;
}