.time-card p {
    margin: 0px;
}

.journey-section {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    border-radius: 25px;
}

.journey-section::-webkit-scrollbar {
    display: none;
}

.custom-br {
    padding-top: 0px;
    content: "";
    display: block;
}
