@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Decotype Thuluth ii';
    src: url(../../assets/DecoType\ Thuluth\ II\ Regular.ttf);
}

.quran {
    font-family: 'Amiri', serif !important;
}

.surahNameArabic{
    font-family: 'Decotype Thuluth ii', 'Amiri' !important;
    
}

.quran-head {
    background-color: #7c9077 !important;
}
